.container1 {
    padding-left: 2rem;
    padding-right: 2rem;
}  
.header {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 180px);
    gap: 2rem;
    justify-content: start;


}